

<h1> {{ this.title }} </h1>

<div class="form-group" [formGroup]="form">

  <div class="form-group__mobile">
    <label>
      携帯電話番号:
      <input type="text" formControlName="mobile">
    </label>
    <div *ngIf="form.get('mobile')?.invalid && (form.get('mobile')?.dirty || form.get('mobile')?.touched)"
      class="alert alert-danger">
      <div *ngIf="form.get('mobile')?.hasError('ummatchedPattern')">
        ハイフンなしの携帯電話番号を半角数字で入力してください。
      </div>
    </div>
  </div>

  <div class="form-group__owner">
    <label>
      所有者:
      <input type="text" formControlName="owner">
    </label>
  </div>

  <div *ngIf="form.hasError('noMobileOwner')">
    電話番号を入力した場合は管理者も入力してください。
  </div>
</div>
